**/*.spec.js
/coverage
/manuals
/scripts
node_modules
src
tests
.eslintrc.js
.eslintignore
.gitignore
.npmignore
.travis.yml
*.md
.gitattributes
TSConfig.json
package-lock.json
**/__snapshots__
CONTRIBUTE.md